.article_review_content{
    background-color: white;
    width: 100%;
    height: auto;
    min-height: 100%;
    font-size: larger;
    padding: 2%;
}
.list_item{
    width: 100%;
}
.list_item_header{
    border-bottom:1px solid gainsboro;
    font-size: larger;
    font-weight:bold;

}
.list_item_info{
    width: 100%;
    }
.list_item_text{
    margin: 10px 20px;
}