.official_new_content{
    min-height: 90vh;
    background-color: white;
    padding: 2%;
}
.official_new_button{
    margin-left: 20px;
}
.official-news-images{
    display: flex;
    .image-item{
        margin: 10px;
    }
}
.news_detail_item{
margin: 10px;
}